       .
       * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
          }
          
          body {
            width: 100vw;
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #202024;
            font-family: times;
          }
          
          h3 {
            color: white;
          }
          
          input {
            padding: 5px;
            width: 300px;
            outline: none;
            border: none;
            border-radius: 5px;
          }
          
          button {
            margin-top: 10px;
            width: 300px;
            display: block;
            cursor: pointer;
            border: none;
            padding: 6px 15px;
            border-radius: 5px;
            background-color: #8257e6;
            color: white;
            outline-color: #8257e6;
            
          }
          
          button:hover {
            opacity: 0.9;
            background-color: #202024;
          }
          
          .divCopy {
            margin: 15px 0;
          }
          
          .btnGen {
            background-color: #8257e6;
          }
          .btnGen:hover {
            background-color: #202024;
          }     
          
          .area {
            margin-top: 10px;
            height: 30px;
          }